/* You can add global styles to this file, and also import other style files */
:root {
  --color-dark: #222;
  --color-white: #fff;

  --color-primary: #116df7;
  --color-danger: #b21919;
  --color-muted: #302f2f;

  --color-border: #d0c6c6;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  min-height: 100%;
}
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

/* Auth */

.auth-card {
  max-width: 360px;
  margin: 80px auto;
  padding: 24px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.auth-card h2 {
  text-align: center;
  margin-top: 0;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  box-sizing: border-box;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-dark);
  color: var(--color-white);
  cursor: pointer;
  border: none;
}

.form-link {
  text-align: center;
  margin-top: 16px;
}

.form-link a {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-muted);
}

.form-link a:hover {
  text-decoration: underline;
}